.content {
	text-align: center;
}

.box {
	display: inline-block;
	width: 650px;
}

h1 {
	background-color: #e91e63;
	padding: 13px;
	color: white;
}

form {
	padding: 20px;
	border: 1px solid gray;
	text-align: left;
	box-shadow: 5px 5px lightgray;
}

.box10 {
	margin-bottom: 10px;
	clear: both;
}

label {
	display: inline-block;
	color: gray;
	width: 20%;
	text-align: right;
	font-size: 14pt;	
}

#id {
	width: 45%;
	margin-left: 5px;
	padding: 5px;
	text-align: center;
}

#idcheck {
	width: 115px;
	height: 30px;
	color: white;
	background-color: #2196F3;
	border: none;	
}

.check {
	text-align: center;
}

#checkmsg {
	display: inline-block;
	margin: 0px;
	margin-bottom: 3px;
	
}

#pwcheck {
	display: inline-block none;
	margin: 0px;
	margin-bottom: 3px;
}

form > div > input {
	display: inline-block;
	width: 65%;
	margin-left: 5px;
	padding: 5px;
	text-align: center;
}

.gen {
	display: inline-block;
	width: 65%;
	margin-left: 5px;
	text-align: center;
}

.gen > div > input {
	width: 20px;
	height: 20px;
	border: 1px	
}

#avatar {
	display: none;
}

.avt {
	text-align: center;	
}

.avt1 {
	display: inline-block;
	width: 650px;
}

.avt2 {
	display: inline-block;
	width: 100px;
	height: 110px;
}

.picture {
	height: 100px;
}

.won {
	height: 10px;
}

img {
	width: 100%; 
	height: 100px;
}

form + div {
	display: inline-block;
	font-size: 0pt;
	color: white;
	margin-top: 20px;
	width: 650px;
}

form + div > button {
	width: 33.3%;
	height: 35px;
	color: white;
	border: none;
}
button:hover {
	background-color: orange !important;
}

#rbtn {
	background-color: #ff5722;
}
#hbtn {
	background-color: #4CAF50;
}
#jbtn {
	background-color: #2196F3;
}

.gen > * {
	display: inline-block; 
	width: 190px;
}